# Jinja mapping to define variables for each OS - RH and Debian
# v1: added 'server' key:value for each OS for server.sls
# v2: added 'client' key:value pair for each OS for client.sls
# v3: added server config parameters for config.sls
# v4: added service parameters for restart.sls 

{% set mysql = salt ['grains.filter_by']({
  'RedHat': {
      'server' : 'mariadb-server',
      'client': 'mariadb',
      'server_conf': '/etc/my.cnf.d/server.cnf',
      'server_conf_source': 'salt:///mysql/files/rh_server.cnf',
      'service': 'mysql',
  },
  'Debian': {
      'server': 'mysql-server',
      'client': 'mysql-client',
      'server_conf': '/etc/mysql/mysql.conf.d/mysqld.cnf',
      'server_conf_source': 'salt://mysql/files/deb_mysqld.cnf',
      'service': 'mariadb',

  },
}) %}
